.contentCard {
  margin-top: 15px;

  .card {
    width: 300px;
    height: 350px;
    background: var(--white);
    border: 2px solid var(--gray-100);
    border-radius: 5px;
    transition: 0.4s;

    &:hover {
      box-shadow: 0 0 10px 4px rgb(0 0 0 / 30%);
    }

    figure {
      height: 150px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--gray-100);
      margin-bottom: 25px;
      img {
        height: 100%;
      }
    }

    button {
      width: 107px;
      height: 40px;
      padding: 11.5px 20px;
      font-size: 14px;
      font-family: "Inter", sans-serif;
      border-radius: 8px;
      color: var(--white);
      border: none;
      outline: none;
      background: var(--green-500);
      margin-left: 20px;
      transition: 0.4s;

      &:hover {
        background: var(--green-100);
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      margin-left: 20px;

      h2 {
        margin-bottom: 25px;
        font-weight: 700;
        font-size: 18px;
        color: var(--gray-800);
      }
      p {
        margin-bottom: 20px;
        font-size: 12px;
        color: var(--gray-400);
      }
      span {
        color: var(--green-500);
        font-weight: bold;
        margin-bottom: 20px;
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 540px) {
  .contentCard {
    width: 100%;
    padding: 0 5%;

    .card {
      width: 100%;
    }
  }
}
